
<div class="form-group">
    <label class="control-label" for="name">Primary Doctor's Name</label>
    <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label class="control-label" for="name">Doctor's Telephone Number:</label>
    <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label class="control-label" for="name">Doctor's Fax Number:</label>
    <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label class="control-label" for="name">Doctor's Fax Number:</label>
    <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
</div>

<div class="form-group">
    <label for="address">Address 2 (Optional)</label>
    <input type="text" class="form-control" id="address-2" placeholder="1234 Main St">
</div>
<div class="form-group">
    <label for="country">Country</label>
    <select class="custom-select d-block w-100" id="country" required="">
        <option value="">Choose...</option>
        <option>United States</option>
    </select>
</div>
<div class="form-group">
    <label for="state">State</label>
    <select class="custom-select d-block w-100" id="state" required="">
        <option value="">Choose...</option>
        <option>California</option>
    </select>
</div>
<div class="form-group">
    <label for="zip">Zip</label>
    <input type="text" class="form-control" id="zip" placeholder="" required="">
</div>
<hr/>

