<div class="health-insurance-info" data-count="{{ count|default('1') }}">
    <div class="form-group">
        <label class="control-label" for="birthdate"><span class="hii-count">{{ count|default('1') }}.</span> Health Insurance Information</label>
        <textarea id="health-insurance-info" name="health-insurance-info" type="date" class="form-control input-md"></textarea>
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Provider</label>
        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Member ID</label>
        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Group Number</label>
        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Rx Bin (Optional)</label>
        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Rx PCN (Optional)</label>
        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Rx Group (Optional)</label>
        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
    </div>

    <hr />
</div>
