.navbar a.nav-link {
    text-transform: uppercase;
    color: $white;
    font-weight: 500;

    &:hover {
        color: $gray-900;
    }
}

.main-content > :first-child:not(nav):not(.nav) {
    margin-top: map-get($spacers, 4);
}


.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

.loadable.loading .loading-overlay { display: flex; }


label.required {
    &::after {
        content: '*';
        display: inline-block;
        padding-left: 4px;
        color: $danger;
    }
}

.btn-icon {
    padding-right: 5px;
    padding-left: 5px;
    //font-size: $font-size-lg;
}

.mobile-view {
    div {
        a {
            color: $white !important;
        }
    }
}


/** our services **/
.section-title {
    margin-bottom: 60px;
  p {
    font-size: 24px;
    margin-bottom: 0px;
  }

  h4 {
    font-size: 40px;
    text-transform: capitalize;
    color: $primary;
    position: relative;
    display: inline-block;
    padding-bottom: 25px;

    &::before {
      width: 80px;
      height: 1.5px;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
      position: absolute;
      content: "";
      background-color: $primary;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $primary;
      width: 40px;
      height: 1.5px;
      bottom: -5px;
      left: 50%;
      margin-left: -20px;
    }
  }
}

.single_service {
    h4 {
        color: $primary;
    }
  &.service_right {
    padding-right: 70px;
    padding-left: 0;
    text-align: right;


    img {
      right: 0;
      left: auto;
      margin-top: 0;
    }

    svg {
      right: 0;
      left: auto;
      margin-top: 0;
    }
  }

  &:nth-child(1), &:nth-child(2) {
    border-bottom: 1px dashed #333;
    padding-bottom: 15px;
  }

  img {
    max-width: 45px;
    position: absolute;
    left: 0;
    top: 0;
  }

  svg {
    max-width: 45px;
    position: absolute;
    left: 0;
    top: 0;
  }

  position: relative;
  padding-left: 70px;
  margin-bottom: 35px;
}


.product-quantity {
    max-width: 95px;
    border: none;
    background: #fff !important;
    display: inline;
    margin-right: 0;
}

.panel-heading-quantity {
    border-radius: 3px;
    .panel-title {
        font-size: 15px;
    }
}

.text-stroke {
  color: #c0c0c0;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c0c0c0;
}
