<header class="site-header" role="banner">
    <div class="site-branding container">
        <div class="row">
            <div class="col-sm-4 header-logo">
                <a href="{{ path('sylius_shop_homepage') }}" class="custom-logo-link" rel="home">
                    <img width="165" height="70" src="{{ asset('zetameds-theme/images/zetameds-white-logo.png', 'zetaMedsTheme')}}" class="custom-logo" alt="Zeta Meds">
                </a>
            </div>
            <div class="col-sm-8 header-banner">

            </div>
        </div>
    </div>
</header>

