<div class="row">
    <div class="product-slider owl-carousel">
        {% for product in products %}
            <div class="product-item">
                {% include '@SyliusShop/Product/_box.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>
