{% extends '@SyliusShop/layout.html.twig' %}


{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="display-4">About Us</h1>
            <p class="text-left">
                Zeta Meds is an American company and a licensed pharmacy dedicated to providing its customers with a service unmatched by our competitors. We are dedicated to being consistently reliable while having only the highest quality FDA-approved products available. With the friendliest customer service, lowest rates, and superb product line, Zeta Meds is here to be the last place you ever have to look for the remedies you need.
            </p>
            <p class="text-left">
                We started Zeta Meds to become the most trustworthy name in online pharmacy, and every person we provide for is treated with this in mind. Our goal is not to meet your expectations, it is to exceed them. Our mission is to impress you while saving you time, money, and hassle along the way.
            </p>
            <p class="text-left">
                Simply answer some questions and register with us here, have your provider send us your prescription, and you will find your products discreetly shipped to you within 3-5 business days.
            </p>
            <p class="text-left">
                We employ well trained and highly capable staff to assist you every step of the way, from registration to package tracking. Please, if you have any questions, feel free to give us a call. We are here for you!
            </p>
            <p class="text-left">
                A pharmacist is on staff ready to answer any medical questions you may have during all hours of operation.
            </p>
            <p class="text-left">
                If it is more convenient, you can also send us an email and we will reply as soon as we can at <a href="/en_US/contact">info@zetameds.com</a> or directly message us.
            </p>
        </div>
    </div>
{% endblock %}
