{% extends '@SyliusShop/layout.html.twig' %}
{% block title %}
Terms and Conditions | Zeta Meds
{% endblock %}

{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="display-4">Terms and Conditions</h1>
            <h3 class="h3" id="shipping_and_returns">Shipping and Returns</h3>

            <p class="text-left">
                Zeta Meds is a licensed US Online Pharmacy we accept all orders 24/7 online. Orders are processed in the order that they were received. Orders with Priority and Express shipping will be prioritized before Standard shipping orders to meet the delivery deadline. All orders are shipped from our location in Ocala Florida via USPS. Zeta Meds ships to all 50 U.S. states and follows the standard shipping methods provided by USPS.
            </p>
            <p class="text-left">
                Processing and shipment will normally take within 3~10 business days from the time the order was placed. Priority and Express orders placed before 11:00 AM PST will be processed and shipped out within the same business day. Priority and Express orders placed after 11:00 AM PST will be processed and shipped out the next business day. The day an order ships does not count as a day in transit. Any orders placed on Friday to Sunday will not be processed until the next following Monday. USPS does not pick up or deliver on weekends. During holiday seasons, you may experience processing time of your orders up to 10 business days. Note: All orders are subject for review from our licensed Pharmacist.
            </p>
            <p class="text-left">
                We do not ship to APO or FPO addresses. Orders that have a different shipping address from billing address may be subject to review, which can delay shipping time. The customer will be contacted for the review. Zeta Meds cannot guarantee the same day expedited shipping when an order is placed on hold for review. Tax rate is based on the shipping address, not the billing address.
            </p>

            <p class="text-left">
                If your Physician failed to provide with valid prescription for any prescription medication, your order will be subject to a non-refundable processing fee in the amount of 5% of the purchase price. If the merchandise was defective or damaged during shipment, you will receive a replacement. If a replacement is unavailable, you will receive a refund for the returned item via the original method of payment. <strong>Please Remember, USPS Standard shipping is FREE within U.S only. USPS Priority or overnight shipping fees may apply.</strong>
            </p>

            <h3 class="h3" id="ordering">Ordering Prescription Policy</h3>
            <p class="text-left">
                Zeta Meds is fully licensed and regulated pharmacy, located in Ocala FL. Zeta Meds must abide all laws and regulations concerning the dispensing of prescription medication.
            </p>
            <p class="text-left">
                If you purchase in our website, mail order or telephone you acknowledge that you possess a valid prescription written by a legal authorized US licensed Physician. If your order cannot be processed for any reason after 30 days from the date of purchase, it will be closed. <strong>Note:</strong> <i>All orders are subject for review from our licensed Pharmacist.</i>
            </p>

            <h3 class="h3" id="return_policy">Return Policy</h3>
            <p class="text-left">
                Please be advised, due to rules and regulations, Zeta Meds is unable to accept prescription returns. We may authorize a refund if there is an error in our behalf. Please contact <a href="mailto:info@zetameds.com">info@zetameds.com</a> informing us the reason of your concern including your name, phone number, and purchase information. By doing this, you will help us further improve our understandings of our customers’ needs.
            </p>

            <h3 class="h3" id="return_shipping">Return Shipping Charges</h3>
            <p class="text-left">
                All returned shipping charges are solely the customers’ responsibilities unless it is an error on our behalf.
            </p>

            <h3 class="h3" id="privacy_policy">Privacy Policy</h3>
            <p class="text-left">
                Your privacy is very important to us and we assure you that your private information will not be shared nor sold to other third-party members unless directed by law. Your information will be secured and private.
            </p>
            <p class="text-left">
                Sometimes it is necessary for the site to use cookies and sessions in order to recognize you. This information is also secure and will never be shared or sold.
            </p>
            <p class="text-left">
                Zeta Meds may contact you via email or phone to recognize the problems with your orders and products. Your privacy is important to us!
            </p>

            <h3 class="h3" id="limitation_liability">Limitation of Liability</h3>
            <p class="text-left">
                In no event shall Zeta Meds, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this website whether such liability is under contract. Zeta Meds including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or any way related to your use of this website.
            </p>

            <h3 class="h3" id="indemnification">Indemnification</h3>
            <p class="text-left">
                You hereby indemnify to the fullest extent Zeta Meds from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
            </p>

            <h3 class="h3" id="variation">Variation of Terms</h3>
            <p class="text-left">
                Zeta Meds is permitted to revise these Terms at any time as it sees fit, and by using this website you are expected to review these Terms on regular basis.
            </p>

            <h3 class="h3" id="no_waranty">No Warranties</h3>
            <p class="text-left">
                This website is provided “as is,” with all faults, and Zeta Meds express no representations or warranties, of any kind related to this website or materials contained on this website. Also, nothing contained on this website shall be interpreted as advising you.
            </p>
        </div>
    </div>
{% endblock %}
