* {
  &:before {
      box-sizing: inherit;
  }

  &:after {
      box-sizing: inherit;
  }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body, button, input, select, textarea {
    color: #717171;
    font-family: "Karla", sans-serif;
    line-height: 1.5;
}

/* header */
.site-header {
    background: #25262B;
    padding-top: 15px;
}


@media screen and (min-width: 1200px)
.container {
    width: 1170px;
}
