body {
    background: $white;
}

.subtitle {
    margin-left: 20px;
    font-style: italic;
    display: inline;
}

a {
    color: $orange;
    &:hover {
        color: $white;
    }
}

.main-header {
    background: $background;
    margin-top: -25px;

    .header-children {
        padding-top: 15px;
    }
}

.main-navigation {
    background: $orange;
}

.nav-item {
    .dropdown {
        .show {
            color: $orange;
        }
    }
}

.navbar-toggler-icon {
    background-color: $orange;
}

.navbar a.nav-link {
    text-transform: uppercase;
    color: $white;
    font-weight: 500;

    &:hover {
        color: $background;
    }
}

.btn-orange {
    background: $orange;
    color: $white;

    &:hover {
        color: $light-orange;
    }
}

.btn-link {
    color: $orange;
}

.btn-primary {
    background: $orange;
    border-color: $light-orange;

    &:hover {
        background: $light-orange;
        border-color: $orange;
        text-decoration: none;
    }

    &:active {
        background: $background !important;
        border: 1px solid $orange !important;
        box-shadow: 0 0 0 0.2rem $orange;
    }
}

.logo {
    @include media-breakpoint-up(md) {
        width: 160px;
    }

    @include media-breakpoint-down(sm) {
        width: 130px;
    }
}

.main-content {
    padding-top: 15px;
    background: $white;

    & > :first-child:not(nav):not(.nav) {
        margin-top: map-get($spacers, 4);
    }

    a {
        &:hover {
            color: $background;
        }
    }
}


.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
}

.loadable.loading .loading-overlay { display: flex; }


label.required {
    &::after {
        content: '*';
        display: inline-block;
        padding-left: 4px;
        color: $danger;
    }
}

.btn-icon {
    padding-right: 5px;
    padding-left: 5px;
    //font-size: $font-size-lg;
}

.main-footer {
    background: $background;

    h4 {
        color: $white;
    }
}

@media
only screen and (max-width: 768px) {
    .mobile-links {
        div {
            a {
                color: #fff !important;
            }
        }
    }
}

