<!-- Footer -->
<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="widgets-area">
		<div class="container">
			<div class="row">
									<div class="col-md-3 col-sm-6">
						<div id="wpcw_contact-2" class="widget wpcw-widgets wpcw-widget-contact"><h5 class="widget-title"><span>Contact Us</span></h5><ul><li class="has-label"><strong>Email</strong><br><div><a href="mailto:i&#110;f&#111;&#64;&#122;etam&#101;&#100;s&#46;&#99;om">i&#110;f&#111;&#64;&#122;etam&#101;&#100;s&#46;&#99;om</a></div></li><li class="has-label"><strong>Phone</strong><br><div>1-800-280-1765</div></li><li class="has-label"><strong>Fax</strong><br><div>352-694-1791</div></li><li class="has-label"><strong>Address</strong><br><div>PO Box 953<br />
Silver Springs, FL 34489</div></li></ul></div>					</div>
									<div class="col-md-3 col-sm-6">
						<div id="nav_menu-4" class="widget widget_nav_menu"><h5 class="widget-title"><span>Menu</span></h5><div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-467"><a href="http://zetameds.com/">Home</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-421"><a href="/products">Products</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-416"><a href="/valacyclovir">Valacyclovir</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-417"><a href="/vardenafil">Vardenafil</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-418"><a href="/tadalafil/">Tadalafil</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-419"><a href="/propecia">Propecia</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-543"><a href="http://zetameds.com/retin-a">Retin A</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-420"><a href="/sildenafil">Sildenafil</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-435"><a href="/contact/">Contact Us</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-553"><a href="http://zetameds.com/about-us">About Us</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-545"><a href="http://zetameds.com/terms-and-conditions">Terms and Conditions</a></li>
</ul></div></div>					</div>
									<div class="col-md-3 col-sm-6">
						<div id="wpcw_social-3" class="widget wpcw-widgets wpcw-widget-social"><h5 class="widget-title"><span>Get Connected!</span></h5><ul><li class="no-label"><a href="https://www.instagram.com/username" target="_blank" title="Visit Zeta Meds on Instagram"><span class="fa fa-2x fa-instagram"></span></a></li><li class="no-label"><a href="https://twitter.com/username" target="_blank" title="Visit Zeta Meds on Twitter"><span class="fa fa-2x fa-twitter"></span></a></li><li class="no-label"><a href="https://www.facebook.com/username" target="_blank" title="Visit Zeta Meds on Facebook"><span class="fa fa-2x fa-facebook"></span></a></li></ul></div><div id="search-9" class="widget widget_search"><form role="search" method="get" class="search-form" action="/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form></div>					</div>
									<div class="col-md-3 col-sm-6">
						<div id="text-4" class="widget widget_text"><h5 class="widget-title"><span>About Us</span></h5>			<div class="textwidget"><p>Zeta is an American company and a licensed pharmacy dedicated to providing its customers with a service unmatched by our competitors. We are dedicated to being consistently reliable while having only the highest quality FDA-approved products available. With the friendliest customer service, lowest rates, and superb product line, Zeta is here to be the last place you ever have to look for the remedies you need.</p>
</div>
		</div>					</div>
							</div><!--.row-->
		</div>
	</div>
</footer><!-- / Footer -->

	<!-- Copyright -->
	<footer class="site-copyright">
		<div class="site-info">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div id="menu-social" class="menu pull-left"><ul id="menu-social-items" class="menu-items"><li id="menu-item-378" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-378"><a href="http://facebook.com/"><span class="screen-reader-text">Facebook</span></a></li>
<li id="menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-379"><a href="http://twitter.com/"><span class="screen-reader-text">Twitter</span></a></li>
<li id="menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-380"><a href="http://dribbble.com/"><span class="screen-reader-text">Dribbble</span></a></li>
<li id="menu-item-381" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-381"><a href="http://vimeo.com/"><span class="screen-reader-text">Vimeo</span></a></li>
<li id="menu-item-387" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-387"><a href="http://youtube.com/"><span class="screen-reader-text">YouTube</span></a></li>
</ul></div>
						<div class="copyright-text pull-right">
							Copyright © Zeta Meds 2019. All Rights Reserved.						</div>
					</div>
				</div>
			</div>
		</div>
	</footer><!-- / Copyright -->
</div><!-- #page -->
